In [16]:
# packages
import pandas as pd
import yfinance as yf

In [17]:
# Step 1: Choose seven (7) assets
tickers = ["NVDA", "NFLX", "GME", "BB", "NOK", "AMZN", "TSLA"]
tickers

['NVDA', 'NFLX', 'GME', 'BB', 'NOK', 'AMZN', 'TSLA']

In [18]:
# Step 2: Retrieve daily open or close data on your assets for the previous 2 years
df = yf.download(tickers, period='2y')

returns = df['Adj Close'].pct_change()
returns

[*********************100%%**********************]  7 of 7 completed

,AMZN,BB,GME,NFLX,NOK,NVDA,TSLA
Date,,,,,,,
2021-10-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-12,0.000317,0.006466,-0.012802,-0.003349,0.000000,-0.001160,0.017400
2021-10-13,0.011379,0.050321,0.046866,0.007713,0.006897,0.012965,0.006652
2021-10-14,0.004744,0.045872,-0.001250,0.006415,0.018836,0.038540,0.008926
2021-10-15,0.033080,0.007797,-0.002992,-0.008694,-0.008403,0.005334,0.030196
...,...,...,...,...,...,...,...
2023-10-04,0.018281,-0.018391,0.018493,0.000398,-0.013624,0.012041,0.059344
2023-10-05,-0.008189,-0.112412,-0.010760,-0.011435,-0.022099,0.014691,-0.004250
2023-10-06,0.015878,-0.005277,0.025153,0.023941,0.005650,0.024033,0.001846
2023-10-09,0.002344,-0.045093,0.021220,0.011638,0.000000,-0.010686,-0.003301
2023-10-10,0.011971,0.006944,0.038961,-0.018147,0.013904,0.014617,0.017330

In [19]:
# Step 3: Calculate the mean, variance, and correlation matrix for all assets
table = pd.DataFrame(index=tickers)
table['Mean'] = returns.mean()
table['Variance'] = returns.var()

table

          Mean  Variance
NVDA  0.002264  0.001371
NFLX -0.000356  0.001210
GME  -0.000550  0.003090
BB   -0.001228  0.001296
NOK  -0.000660  0.000384
AMZN -0.000092  0.000708
TSLA  0.000782  0.001560

In [20]:
returns.corr()

          AMZN        BB       GME      NFLX       NOK      NVDA      TSLA
AMZN  1.000000  0.473759  0.342823  0.533095  0.448065  0.595109  0.490171
BB    0.473759  1.000000  0.426410  0.424469  0.411467  0.460301  0.477468
GME   0.342823  0.426410  1.000000  0.260222  0.282425  0.397085  0.454118
NFLX  0.533095  0.424469  0.260222  1.000000  0.340819  0.473480  0.450120
NOK   0.448065  0.411467  0.282425  0.340819  1.000000  0.474623  0.410042
NVDA  0.595109  0.460301  0.397085  0.473480  0.474623  1.000000  0.563922
TSLA  0.490171  0.477468  0.454118  0.450120  0.410042  0.563922  1.000000

In [21]:
# Step 4: Calculate efficient frontier and optimal weights for your portfolio (Don’t forget the output!)

In [22]:
# Step 5: Use MatPlotLib or Seaborn libraries to graph the results (matrix and frontier)

In [23]:
# Step 6: Output the calculated optimal weighting (identify portfolio weightings for optimum Sharpe Ratio) along with the efficient frontier and correlation matrix charts. Output to a saved file.